*{
    margin: 0;
    padding: 0;
}

.navbar-expand-lg{
    background-color: #FFD700 !important;
}
.navbar-brand{
    color: #8e5b23 !important;
}
.navbar-brand>span{
    color:#9b9c9e !important;
}
.pro,.production{
    color: red;
    box-shadow: gray 2px 2px 2px 2px;
  }
.info{
    text-align: justify;
    border: black solid 2px ;
    border-radius: 5px;
    padding:0 5px 0 5px;
}
.main{
    border: black 2px solid;
    margin: 0 10px 0 10px;
    background-color: #fff;
    padding: 10px 0 5px 0;
}
.contact{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.itme{
    line-height: 1.8em;
    
}
.grad {
        background-image: linear-gradient(red, yellow);
}    
.btn-add{
background-color: #FFD700 !important;
}
.gred {
    background-image: linear-gradient(	#FDF5E6,#F0F8FF);
}
.fa-arrow-left{
    float: left;
    color: black;
}
.icon{
 
}





